mixin tarifs()
  section.tarifs
    .container
      ul.tarifs__list
        li.tarifs__item.tarif
          .tarif__wrapper
            h3.third-title.tarif__title Demo
            span.tarif__subtitle 30 документoв
            .tarif__price-block
              span.tarif__price.tarif__price--bold 0
              span.tarif__price руб/месяц
            button.button.tarif__button(type="button")
              span.button__body Зарегистрироваться
        li.tarifs__item.tarif
          .tarif__wrapper
            h3.third-title.tarif__title Business
            span.tarif__subtitle 1 000 документoв
            .tarif__price-block
              span.tarif__price.tarif__price--bold 1 000
              span.tarif__price руб/год
            button.button.tarif__button(type="button")
              span.button__body Закакзать
        li.tarifs__item.tarif
          .tarif__wrapper
            h3.third-title.tarif__title Pro
            span.tarif__subtitle 10 000 документoв
            .tarif__price-block
              span.tarif__price.tarif__price--bold 9000
              span.tarif__price руб/год
            button.button.tarif__button(type="button")
              span.button__body Закакзать
        li.tarifs__item.tarif
          .tarif__wrapper
            h3.third-title.tarif__title Individual
            span.tarif__subtitle.tarif__subtitle--margin-b неограниченное количество документoв
            button.button.tarif__button(type="button")
              span.button__body Связаться с нами
