extends ../../layout/layout

block variables
  -
    const pageName = 'contacts'
    const pageTitle = 'contacts'
    const LinksObj = [["Главная", "main"]]

block content
  main(data-barba='container' data-barba-namespace=pageName)
    +breadcrumb(LinksObj, "Контакты")
    +contacts-block
    +contacts-form
