mixin advantages(mods)
  section.advantages
    .advantages__container
      .advantages__wrapper
        .advantage
          .advantage__img
            +speedometer-svg
          .advantage__text-block
            h3.third-title.advantage__title Моментально
            p.advantage__text Никаких задержек. 1 секунда на подписание
        .advantage
          .advantage__img
            +positive-vote-svg
          .advantage__text-block
            h3.third-title.advantage__title Глобально
            p.advantage__text Сервис доступен 24\7 со всех устройств
        .advantage
          .advantage__img
            +piggy-bank-svg
          .advantage__text-block
            h3.third-title.advantage__title Экономно
            p.advantage__text В 30 раз дешевле чем почта и курьеры



