mixin main-accordion()
  section.main-accordion&attributes(attributes)
    .container
      .main-accordion__wrapper
        h2.second-title.main-accordion__title Популярные вопросы и ответы на них
        ul.accordion
          +accordion-item({
            "question": "Имеет ли электронный документ юридическую силу?",
            "answer": "- Да, электронный документ, подписанный электронной подписью, имеет силу"
          })
          +accordion-item({
            "question": "Как надёжно хранить электронные документы?",
            "answer": "- Данные многократно дублируются: электронные документы хранятся сразу в нескольких местах."
          })
          +accordion-item({
            "question": "На каком носителе вести работу с электронными документами?",
            "answer": "- Работу с электронными документами можно вести как онлайн, так и на бумажном носителе."
          })
          +accordion-item({
            "question": "Что считается электронным документом?",
            "answer": "- письмо, подписанное электронной подписью, – настоящий электронный документ."
          })
          +accordion-item({
            "question": "Как исправить ошибку в электронном документе?",
            "answer": "- Чтобы исправить ошибку в электронном документе можно внести изменения в действующий документ."
          })
          +accordion-item({
            "question": "Kакой документ лучше — настоящий или электронный?",
            "answer": "Выбор зависит от конкретных условий и требований к документообороту."
          })
