extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main(data-barba='container', data-barba-namespace=pageTitle)
    section.inner.container
      br
      br
      br
      br
      a(href='main.html') Main
      br
      br
      a(href='ui.html') UI
      br
      br
      a(href='about.html') about
      br
      br
      a(href='contacts.html') contacts
      br
      br
      a(href='blog.html') blog
      br
      br
      a(href='questions.html') questions
      br
      br
      a(href='video-guides.html') video-guides
      br
      br
      a(href='post.html') post-page
      br
      br
      a(href='404.html') 404-page
      br
      br
      br
      br
