mixin experience(mods)
  section.experience
    .experience__wrapper
      span.experience__number 5 820 125 114
      h2.second-title.experience__title подписано документов
      p.experience__text
       | Наша компания уже более 30 лет создает удобные решения для бизнеса любого размера. Мы гордимся Signy как безопасным и комфортным продуктом
