mixin main-video(mods)
  section.main-video
    .container.main-video__container
      h2.second-title.main-video__title Познакомимся в живую?
      .main-video__wrapper
        .video-container
          .video-poster.video-poster-wrapper(data-video="video/office_tip.mp4")
            img(alt="Play this video" src="images/poster.png")
            .video-play-button
