extends ../../layout/layout

block variables
  -
    const pageName = 'post'
    const pageTitle = 'post'
    const LinksObj = [["Главная", "main"], ["Блог", "blog"]]

block content
  main(data-barba='container' data-barba-namespace=pageName)
    +breadcrumb(LinksObj, "Название статьи")
    +post-content
    +subscribe-block
