mixin partners-block(mods)
  section.partners
    .container
      h2.second-title.partners__title Друзья Signy
      .swiper.partners-swiper
        ul.swiper-wrapper.partners__wrapper
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner1.png" alt="")
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner2.png" alt="")
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner3.png" alt="")
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner4.png" alt="")
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner1.png" alt="")
          li.swiper-slide.partners-swiper__slide
            .partners__item
              img(src="../src/images/partner2.png" alt="")
        .swiper-container.partners-swiper-container
          .partners__swiper-pagination
