mixin subscribe-form()
  form.subscribe-form(novalidate)&attributes(attributes)
    .subscribe-form__row
      +input("email", "email", "")(class="email-input")
      +button("отправить", "submit",)(class="form-button subscribe-form__button")

