mixin hero-blog(mods)
  section.hero-blog.text-18
    .container
      h1.first-title.page-title Интересно пишем про
      .hero-blog__wrapper
        .hero-blog__img
          img(src="../src/images/blog-img.jpeg", alt="")
        .hero-blog__text-block
          .hero-blog__time
            time(datetime="2024-05-28") 28.05.2020
          h2.hero-blog__title.second-title Burn Calories Quicker in 30 Min.
          ul.tags-list
            li.tags-list__item
              a.link-element(href="#") про продукт
            li.tags-list__item
              a.link-element(href="#") теги
            li.tags-list__item
              a.link-element(href="#") много тегов
          .hero-blog__text
            p Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий.
            p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития.
          a.link-element.hero-blog__link(href="#") ЧИТАТЬ
