mixin questions-form()
  section.questions-form
    .container.questions-form__container
      h2.second-title.questions-form__title Нет ответа на интересующий вопрос?
      p.questions-form__subtitle Заполни форму и наши менеджеры свяжутся с тобой
      +main-form.questions-form__item


